/* src/GrowthChart.css */

.chart-container {
  display: flex;
  align-items: center;
  height: 100vh;
  overflow: visible;
  background-color: rgb(244, 194, 128); /* Background similar to the image */
}

.giraffe {
  height: 100%; /* Adjust size to fit the chart */
  width: clamp(200px, 50vw, 500px);
  overflow: visible;
  margin-left: -30px;
  object-fit: fill;
}
.measurements {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-left: -80px;
}

.measurement-quantity {
  display: flex;
  margin-block: 12px;
  height: 15px; /* Adjust for spacing between ticks */
  position: relative;
}
/* Zoom Lens Styling */
.zoom-lens {
  position: absolute;
  width: 200px;
  height: 190px;
  border-radius: 80%;
  overflow: hidden;
  pointer-events: none;
  display: none;
  border: 10px solid rgb(244, 194, 128, 0.4);
  background-color: rgb(
    244,
    194,
    128,
    0.7
  ); /* Background similar to the image */
  /* Masked area with blurred background */
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
}
/* Zoomed Measurements */
.zoomed-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: scale(2); /* 2x magnification */
  transform-origin: top left;
  pointer-events: none;
  margin-top: 20px;
}
.zoomed-content .measurement-quantity {
  margin-top: 40px;
  height: 12px; /* Adjust for spacing between ticks */
}

.measurement-quantity span {
  font-size: 22px;
  font-weight: bold;
  text-align: end;
  width: 100px;
  color: #ba6416; /* Match the tick color */
}
.ticks {
  position: relative;
  font-size: 17px;
  font-weight: 900;
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%; /* Full width */
  margin-top: -35px;
  color: #ba6416; /* Match the tick color */
  text-shadow: 0px 0.5px 1.2px #ba6416;
}

.small-tick {
  height: 0.55vh; /* Adjust for spacing between ticks */
}
.big-tick {
  height: 5px; /* Adjust for spacing between ticks */
}

.big-tick-180 {
  margin-top: 35px;
}
@media screen and (min-width: 768px) {
  .measurements {
    margin-left: -100px;
  }
  .measurement-quantity span {
    font-size: 32px;
  }
  .ticks {
    font-size: 28px;
  }
}
@media screen and (min-height: 730px) {
  .measurement-quantity {
    margin-block: 15px;
  }
  .ticks {
    margin-top: -40px;
  }
  .big-tick-180 {
    margin-top: 40px;
  }
  .small-tick {
    height: 0.62vh;
  }
}
@media screen and (min-height: 810px) {
  .measurement-quantity {
    margin-block: 19px;
  }
  .ticks {
    font-size: 29px;
    margin-top: -47px;
  }
  .big-tick-180 {
    margin-top: 47px;
  }
  .small-tick {
    height: 0.61vh;
  }
}
@media screen and (min-height: 900px) {
  .measurement-quantity {
    margin-block: 20px;
  }
  .ticks {
    font-size: 26px;
    margin-top: -48px;
  }
  .big-tick-180 {
    margin-top: 50px;
  }
  .small-tick {
    height: 0.59vh;
  }
}
